@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import "bootstrap";
$background-primary :#fff;
$background-secondary :#202020;

$font-color-primary: #fff;
$font-color-secondary: #202020;

$primary-family-font: 'Roboto', sans-serif;
$base-font-size: 16px;
$fw-light: 300;
$fw-medium: 500;
$fw-bold: 700;
$form-floating-label-transform:translateY(-.5rem)!important;