@import './styles/variables.scss';

body {
    transition: 2s;
    font-family: $primary-family-font;
    .app-wrapper {
        min-height: 100vh;
    }
}

.background-secondary {
    background-color: $background-secondary;
}